body {
  background-image: url(./background.jpg);
  background-color: #fbfff7; 
 }
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    /* border-bottom-style: ridge;
    border-color: #489e16;
    border-right: ridge #489e16;        line */
}
.logo {
    margin-right: 30px;
    margin-left: 15px;
}
.menu {
    flex-grow: 1;
}
.menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 0 0;
    padding: 20px;
    font-size: 16px;
    line-height: 20px;
    list-style: none;
    float: right;
/*    justify-content: space-between;
    align-items: center; */
}
.menu li {
margin-right: 20px;
}
.menu a,
.menu .active {
    display: block;
    padding: 8px 10px;
    text-transform: uppercase;
    letter-spacing: .27em;
    background-color: #489e16; /* Green */
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}
.menu a:hover{
    color: #ffffff;
    background-color: #74b81c;
    border-radius: 8px;
    text-decoration: none;
    padding: 8px 10px;
}

* {box-sizing: border-box;
  position: relative;}

.search form {
  box-sizing: border-box;
  position: relative;
  width: 300px;
  margin: 30px;
}
.search input {
  width: 100%;
  height: 38px;
  padding-left: 10px;
  border: 2px solid #489e16;
  border-radius: 5px;
  outline: none;
  background: #f1f5e0;
  color: #9E9C9C;
}
.search button {
  position: absolute; 
  top: 0;
  right: 0;
  width: 38px;
  height: 38px;
  border: none;
  background-color: #489e16;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}
.search button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #ffffff;
} 
/* .main-footer .footer-inner {
  padding-top: 45px;
  padding-bottom: 45px;
  border-top: 3px solid #333;
  border-color: #489e16;
} */
.main-footer .connection ul {
  display: flex;
  flex-flow: row nowrap;
  padding: 20px;
  list-style: none;
  float: center;
}